<div class="container mt-5">
	<h2 class="pt-2">Order has been Completed</h2>
	<p>Your product is on the way !</p>
	<p>Order ID: <%= @order.id %></p>
	<h3>Order Items</h3>
	<table>
	  <thead>
	    <tr>
	      <th>Product</th>
	      <th class="pl-5">Price</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @order.order_items.each do |item| %>
	      <tr>
	        <td><%= item.product.name %></td>
	        <td class="pl-5">Rs.<%= item.price.to_i %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<p>Total Price: Rs.<%= @order.total_price.to_i %></p>
	<h3 class="pt-2">Shipping Address</h3>
	<% address =  @order.addresses.last  %>
	<p><%= address.line1 %> <%= address.line2 %> <%= address.city %> <%= address.state %> <%= address.postal_code %> <%= address.country %></p>
	<div>
		<button class="rounded btn bg-warning mt-5"><%= link_to "Go To Home Page", "/" , class: "text-dark" %></button>
	</div>
</div>